# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

# Ignore Idea customizations
.idea

# Ignore Eclipse settings
.project
.settings/
.classpath

# ignore .DS_STORE MacOS System files
*.DS_STORE
# Ignore photoshop files
*.psd
